.view-port {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  height: 64px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--grey-500);
}

#row {
  flex: 1 auto;
  height: 0;

  display: flex;
  flex-wrap: nowrap;
}

#column {
  height: 100%;
  width: 0;
  flex: auto;

  display: flex;
  flex-direction: column;
  overflow: auto;
}

#sider {
  height: 100%;
  width: 200px;

  padding: 24px 0;

  position: relative;
  background: var(--blue-100);
}

#sider::after {
  content: "";
  width: 0px;
  height: calc(100% - 48px);
  border-right: 1px solid #666;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.4;
}

#content {
  min-height: 100%; /* remove this if you want to see footer by default*/
  height: 0;
  width: 100%;
  flex: auto;

  padding: 24px 24px 16px;
  background: var(--red-100);
}

#footer {
  flex: none;
  height: 48px;
  padding: 0px 24px;
  display: flex;
  align-items: center;
  background: var(--grey-500);
}
