ul {
  padding: 10px;
}

li {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  padding: 10px 24px;
  list-style: none;
  cursor: pointer;
  margin-bottom: 5px;
  border-bottom: 1px solid #00000000;

  transition: all ease-out 300ms;
}

li:hover {
  font-size: 20px;
  color: #2979ff;
  border-color: #2979ff;
}

.active {
  background: #2979ff;
  color: #000000;
}

li.active:hover {
  color: #ffffff;
}
