<span class="title">Title</span>
<span class="nav-menu">
  <span class="nav-item">Bell Icon</span>
  <span class="nav-item">Global View</span>
  <span class="nav-item">Admin</span>
  <span class="nav-item">Profile</span>
</span>
