.title {
  font-size: 20px;
  font-weight: 500;
}

.nav-menu {
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.nav-item {
  height: 100%;

  display: flex;
  align-items: center;

  padding: 0 18px;
  border-bottom: 1px solid #00000000;

  cursor: pointer;
  transition: all ease-in-out 150ms;
}

.nav-item:hover {
  color: var(--white);
  background: var(--bluegrey-900);
  border-color: var(--white);
}
