/* You can add global styles to this file, and also import other style files */
:root {
  --red-100: #ffcdd2;
  --blue-100: #bbdefb;
  --grey-500: #9e9e9e;
  --yellow-100: #fff9c4;
  --bluegrey-900: #263238;
  --white: #ffffff;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
}

#root,
.view-port {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
